.portfolio{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
  padding:30px;
  margin:0px;
  min-height: 70vh;
  background-color: rgba(29, 76, 157, 0.83);
}